---
title: 'Screen read - practice using a screen reader'
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/css/main.css">
  </head>

  <body>

    {{ content }}

    <button aria-hidden="true" id="voiceover-help-button" class="btn voiceover-help-button">Show voiceover help</button>

    <div aria-hidden="true" id="voiceover-help" class="is-hidden voiceover-help">
      <div class="voiceover-help-inner">
        {% include voiceoverhelp %}
        <p><button id="voiceover-help-close" class="btn">Hide Voiceover help</button>
      </div>
    </div>

    <script src="/assets/js/cookies.js"></script>
    <script src="/assets/js/script.js"></script>

  </body>
</html>
