<h2>More stuff</h2>

<div class="sidebar__item">
  <h5>POUR more</h5>
  <p>POUR is the technique for making websites accessible.</p>
  <p>It stands for:</p>
  <ol>
    <li>Perceivable</li>
    <li>Operable</li>
    <li>Understandable</li>
    <li>Robust</li>
  </ol>
  <p><a href="https://uiowa.instructure.com/courses/40/pages/accessibility-principles-pour">Read more about POUR here</a></p>
</div>

<div class="sidebar__item">
  <h5>Learn Accessibility</h5>
  <p>A developers guide to accessibility is available for free on <abbr title="Mozilla Developer Network">MDN</abbr></p>
  <p><a href="https://developer.mozilla.org/en-US/docs/Learn/Accessibility/What_is_accessibility">What is Accessibility?</a></p>
</div>
