---
layout: base.liquid
---

<a href="#maincontent" id="skiplink" class="skip-link">Skip to main content</a>

<header class="header container">
  <a href="/" class="header__logo"><img src="/assets/images/screen-read-logo.png" alt="Screen Read logo - link to home page" /></a>
  <div class="header__contact">
    <p><span>Telephone:</span> 08081 570570</p>
    <p>Email: hello@screen-read.com</p>
  </div>
</header>

<nav class="nav container">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/shop">Shop</a></li>
    <li><a href="/advice">Advice</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

<main id="maincontent" tabindex="0">
  <div class="container">

    {{ content }}

  </div>
</main>

<footer class="footer container" aria-hidden="true">
  <p>A fun thing by <a href="https://twitter.com/mattbee">Matt Bee</a>.</p>
</footer>
