---
title: 'About Screen read'
layout: page.liquid
---

<h1>About Screen read</h1>

<p>This is just a pretend site with things I can control which is being used to help people learn how screen readers work.</p>

<p>The challenges set on this site are to help people learn to navigate all manner of content with a screen reader and highlight the importance of good, clean HTML.</p>

<p>It's built with the <a href="https://www.11ty.io">Eleventy static site generator</a> and the you can see the <a href="https://github.com/mattbee/screen-read">code on Github</a></p>

<h2>The challenges</h2>

<p>When I use this site in training and learning about screen readers, I set the following challenges:</p>

<ol>
  <li>What is the address of Screen Read?</li>
  <li>What is the first heading level 4 item on the 'Advice' page?<br />
    <em>(tip - use the Rotor tool)</em></li>
  <li>What animal is featured on the thank you page after fake purchasing the book "Accessi-bee-lity"?<br />
    <em>Use the card number 1234 9876 4422 6655</em></li>
  <li>The third section on the advice page recommends which FutureLearn course?</li>
  <li>What are the opening hours of 'Screen read'?</li>
  <li>How many links and headings are on the advice page? (tip - VoiceOver page summary)</li>
</ol>

<p>The "Show VoiceOver help" overlays the website with a list of commands to help using VoiceOver easier, but it's not a full list. For more advice on using VoiceOver, have a look at the amazing <a href="https://webaim.org/">WebAIM website</a>.</p>
