---
title: 'Advice on learning accessibility'
layout: page.liquid
---

<h1>Advice on learning about web accessibility</h1>

<p>There are various ways to learn about web accessibility. The tabs below show a few ways to learn.</p>

<h2>Ways to learn about accessibility</h2>

<section id="books">
  <h3>Books</h3>
  <ul class="list">
    <li class="list__item">
      <h4>Accessibility for everyone</h4>
      <p>by Laura Kalbag</p>
      <p>You make the web more inclusive for everyone, everywhere, when you design with accessibility in mind. Let Laura Kalbag guide you through the accessibility landscape.</p>
      <p><a href="https://laurakalbag.com/book/">Buy Accessibility for everyone by Laura Kalbag</a></p>
    </li>
    <li class="list__item">
      <h4>Inclusive Design Patterns</h4>
      <p>by Heydon Pickering</p>
      <p>A technical book detailing the best way to build a multitude of web components.</p>
      <p><a href="https://shop.smashingmagazine.com/products/inclusive-design-patterns">Buy Inclusive Design Patterns by Heydon Pickering</a></p>
    </li>
    <li class="list__item">
      <h4>Accessi-bee-lity</h4>
      <p>by Matt Bee</p>
      <p>A made up book, that I have not written</p>
      <p><a href="/buy-book">Buy accessi-bee-lity</a></p>
    </li>
  </ul>
</section>
<section id="links">
  <h3>Links</h3>
  <ul class="list">
    <li class="list__item">
      <h4><a href="https://webaim.org/">WebAIM</a></h4>
      <p>WebAIM's mission is to empower organizations to make their web content accessible to people with disabilities.</p>
    </li>
    <li class="list__item">
      <h4><a href="https://abilitynet.org.uk">Ability Net</a></h4>
      <p>AbilityNet exists to change the lives of disabled people by helping them to use digital technology at work, at home or in education.</p>
    </li>
    <li class="list__item">
      <h4><a href="https://www.paciellogroup.com/resources">The Paciello Group Resources</a></h4>
      <p>The Paciello Group provide their accessibility testing tools free for everyone to use.</p>
    </li>
  </ul>
</section>
<section id="section3">
  <h3>Courses</h3>
  <ul class="list">
    <li class="list__item">
      <h4><a href="https://eu.udacity.com/course/web-accessibility--ud891">Web Accessibility course by Google</a></h4>
      <p>A course on Udacity</p>
    </li>
    <li class="list__item">
      <h4><a href="https://www.futurelearn.com/courses/digital-accessibility">Digital Accessibility</a></h4>
      <p>A course on FutureLearn</p>
    </li>
    <li class="list__item">
      <h4><a href="https://www.edx.org/course/disability-and-digital-media-accessibility-representation-and-inclusion">Disability and Digital Media</a></h4>
      <p>A course on EdX</p>
    </li>
  </ul>
</section>

<h2>Contact me</h2>

<p>I usually learn best through being challenged by other people's issues. So feel free to challenge me to help solve your problems on <a href="https://twitter.com/mattbee" title="Matt Bee on Twitter">twitter</a> or email me at <a href="mailto:matt.bee+accessibility@futurelearn.com">matt.bee+accessibility@futurelearn.com</a> if you prefer.</p>
