---
title: 'Screen read - practice using a screen reader'
layout: sitechrome.liquid
---

<h1>Welcome to Screen read - helping you learn to use a screen reader</h1>

<p>This is a website just to help people try to use a screen reader. Not just developers, anyone who wants to try and make any website better for anyone, not just screen reader users.</p>

<h2>Why bother with accessibility?</h2>

<p>Many people have spoken about why accessibility is important, much more eloquently than I could, so here are some links you could read:</p>

<ul>
  <li><a href="https://24ways.org/2013/why-bother-with-accessibility/">Why bother with accessibility - 24 Ways</a></li>
  <li><a href="https://www.w3.org/WAI/fundamentals/accessibility-intro/">Introduction to Web Accessibility - W3C</a></li>
  <li><a href="https://dev.to/mokkapps/why-a-good-frontend-developer-should-care-about-web-accessibility-545m">Why A Good Frontend Developer Should Care About Web Accessibility</a></li>
  <li><a href="https://www.paciellogroup.com/accessibility/">Why accessibility? - from the most respected accessibility group - the Paciello Group</a></li>
</ul>
