---
title: 'Screen read - practice using a screen reader'
content: 'Learn to use a screen reader with this site.'
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <header>
      <a href="/"><img src="/assets/images/screen-read-logo.png" alt="Screen Read logo - link to home page" /></a>
    </header>
    
    {{ content }}

    <footer aria-hidden="true">
      <p>A fun thing by <a href="https://twitter.com/mattbee">Matt Bee</a>.</p>
    </footer>
  </body>
</html>