---
title: 'Screen read - practice using a screen reader'
layout: sitechrome.liquid
---

<h1>Pretend to buy things</h1>

<p>See how forms work in a screen reader using this fake shop.</p>

<h2>Products</h2>

<ul class="cards">
  <li class="cards__card">
    <h3>A perfectly accessible website</h3>
    <img src="/assets/images/pig.jpg" alt="A flying pig, because they are more likely that a fully accessible website." />
    <p>The perfect website, accessible to everyone everywhere.</p>
    <p>Price: £1,000,000.00</p>
    <p><strong>Unavailable</strong></p>
  </li>
  <li class="cards__card">
    <h3>Accessi-bee-lity</h3>
    <img src="/assets/images/book.jpg" alt="A picture of the blank pages of a book." />
    <p>A made up book that doesn't exist</p>
    <p>Price: £123.45</p>
    <p><a href="/buy-book">Buy now <span class="visually-hidden">Accessi-bee-lity</span></a></p>
  </li>
  <li class="cards__card">
    <h3>Jaws Screenreader</h3>
    <img src="/assets/images/jaws-product-image.jpg" alt="Product shot of the Jaws Screen reader." />
    <p>This is the defacto screenreader for most blind users who have been using computers for a while.</p>
    <p>Price: $900</p>
    <p><a href="https://www.freedomscientific.com/products/software/jaws/">Available at Freedom Scientific</a></p>
  </li>
</ul>
