---
title: 'Screen read - practice using a screen reader'
layout: sitechrome.liquid
---

<h1>Pretend to buy things</h1>

<p>See how forms work in a screen reader using this fake shop.</p>

<h2>Products</h2>

<ul class="cards">
  <li>
    <h3>Accessi-bee-lity</h3>
    <img src="/assets/images/book.jpg" alt="A picture of the blank pages of a book." />
    <p>A made up book that doesn't exist</p>
    <p>Price: £123.45</p>
    <p><a href="/buy-book">Buy now <span class="visually-hidden">Accessi-bee-lity</span></a></p>
  </li>
</ul>
