---
title: 'Thank you for buying the book'
layout: page.liquid
---

<h1>Thanks for buying the pretend book</h1>

<p>This is a fake purchase, you won't receive anything in the post, or by email.</p>

<p>However if you are desperate to spend your money on accessibility you might consider supporting Guide Dogs for the blind.</p>

<h2>The Guide Dogs for the Blind Association</h2>
<p><img src="/assets/images/guide_dog.jpg" alt="An guide dog helping a blind person cross a road." /></p>
<p>Guide dogs help people with sight loss live their lives to the full.</p>
<p><a href="https://www.guidedogs.org.uk/donate-now/">Support Guide Dogs UK now</a></p>
